.navigation {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: lightblue;
    width: 100%;
    height: 80px;
    .search {
        position: relative;
        width: 30px;
        height: 30px;
        left: 20px;
        svg {
            width: 100%;
            height: 100%;
            fill: red;
        }
    }
    .app-title {
        border: 3px solid red;
        border-radius: 5px;
        padding: 10px;
        background: red;
        h1 {
            font-family: 'helvetica';
            font-size: 40px;
            font-weight: 900;
            line-height: 1;
            color: white;
            margin: 0;
        }
    }
    .burger-menu {
        position: relative;
        right: 20px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        transform-origin: 15px 15px;
        div {
            position: absolute;
            background: red;
            height: 6px;
            width: 30px;
            border-radius: 3px;
        }

    }
}